.icon{
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
  

}
.icon1{
  color: brown;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 10px;

 
}
.para{
 margin-top: 20px;
}
.img{
  width: 500px;
  height: 300px;
  margin-top: 20px;
}
.img1{
  width: 150px;
}
.hdg{
  font-size: 20px;
}

